.content {
  display: flex;
  align-items: center;
  z-index: 1;
  background: #ffffed;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
  padding: 15px 11px 15px 93px;
  max-width: 683px;
  width: 100%;
}
.content > img {
  margin-bottom: 100px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 89px;
}
.right {
  max-width: 205px;
  width: 100%;
  background: #070707;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.right > img {
  width: 100%;
  border-radius: 15px;
}

.mintButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d05e39;
  border-radius: 13px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 29px;
  letter-spacing: 0.05em;
  border: 3px solid transparent;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 0px 0px 30px 5px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 0px 30px 5px rgba(34, 60, 80, 0.4);
  text-transform: uppercase;
}
.mintButton:hover {
  border: 3px solid black;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100vh - 156px); */
  padding: 150px 0;
  position: relative;
  margin-top: 61px;
}

.counter {
  font-size: 72px;
  line-height: 76px;
  font-family: "ShtozerNorm";
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0px 40px;
}
.counterbox {
  margin: 41px 0;
}
.arrow {
  cursor: pointer;
}

h3 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 100px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 25px;
  font-family: "Shtozer";
}

.desc {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  max-width: 146px;
  text-align: center;
}

.img {
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 911px) {
  .wrapper {
    margin-top: 72px;
    height: calc(100vh - 156px);
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 30px;
    justify-content: space-between;
  }
  h3 {
    margin-top: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .wrapperImg {
    margin-top: 82px;
    height: auto;
    padding: 100px 0;
  }
  .content {
    flex-direction: column-reverse;
  }
  .right {
    max-width: 100%;
  }
  .wrapper {
    height: auto;
  }
  .left {
    margin-right: 0;
    margin-top: 30px;
  }
}
