.content {
  display: flex;
  align-items: center;
  z-index: 1;
  background: #ffffed;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
  padding: 30px 10px 30px 70px;
  max-width: 1200px;
  justify-content: space-between;
  width: 100%;
}
.content > img {
  margin-bottom: 100px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
  width: 100%;
}
.right {
  max-width: 40%;
  width: 100%;
  background: #070707;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.right > video {
  width: 100%;
  border-radius: 15px;
}

.mintButton {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d05e39;
  border-radius: 13px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  border: 3px solid transparent;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 0px 0px 30px 5px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 0px 30px 5px rgba(34, 60, 80, 0.4);
  text-transform: uppercase;
  cursor: pointer;
  font-family: "OldTyper";
}

.mintButton:disabled {
  cursor: not-allowed;
}

.mintButton:hover:not(:disabled) {
  border: 3px solid black;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100vh - 156px); */
  padding: 85px 0;
  /* height: calc(100vh - 100px); */
  height: calc(100vh - 216px);
  margin-top: 77px;
}

.counter {
  line-height: 83px;
  font-family: "Stamp";
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0px 40px;
  pointer-events: none;
  user-select: none;
}
.counterbox {
  margin: 41px 0;
  color: #000000;
  font-family: "Stamp";
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.mintBtnGrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mintBtnGrp > div {
  display: flex;
  gap: 1rem;
}

.mintBtnGrpDisabled > div {
  opacity: 50%;
  pointer-events: none;
}

.mintBtnGrp > div > span {
  width: 3rem;
}

.arrow {
  cursor: pointer;
}

h3 {
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 28px;
  line-height: 32px;
  font-family: "What";
}

.desc {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  max-width: 146px;
  text-align: center;
  margin-bottom: 25px;
}
.desc:first-child {
  margin-top: 30px;
}
.desc:last-child {
  margin-bottom: 0;
}

.img {
  position: absolute;
  top: 77px;
  width: 100%;
}
.img > img {
  width: 100%;
}
.btnGroup {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btnGroup button:first-child {
  margin-right: 20px;
}


@media (max-width: 911px) {
  .wrapper {
    margin-top: 72px;
    height: calc(100vh - 156px);
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 30px;
    justify-content: space-between;
  }
  h3 {
    margin-top: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .wrapperImg {
    margin-top: 82px;
    height: auto;
    padding: 100px 0;
  }
  .content {
    flex-direction: column-reverse;
  }
  .right {
    max-width: 100%;
  }
  .wrapper {
    height: auto;
  }
  .left {
    margin-right: 0;
    margin-top: 30px;
  }
  .img {
    display: none;
  }
}
