header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background: #000;
}
.headwrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.headwrap > a {
  padding-bottom: 0;
  display: flex;
  margin-bottom: 0;
  border-bottom: 0;
}
header > img {
  max-width: 225px;
}
header > a {
  border-bottom: 0;
  padding-bottom: 0;
}
.headwrap > a:hover {
  border-bottom: 0;
}

@media (max-width: 1200px) {
  .headwrap {
    justify-content: initial;
  }
  .headwrap > a {
    margin-right: 30px;
  }
}

@media (max-width: 911px) {
  .headwrap > nav {
    display: none;
  }
  .headwrap {
    padding: 15px 0;
    padding-left: 15px;
  }
}

@media (max-width: 576px) {
  .headwrap {
    flex-direction: column;
    align-items: flex-start;
  }
  header .connect {
    display: none;
  }
  .connect {
    margin-top: 20px;
  }
}
