h1 {
  /* margin-top: 200px; */
  margin-bottom: 100px;
  font-size: 3rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  font-family: "What";
  font-weight: 100;
}
.gifbox {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 16px;
}
.gifbox > video {
  max-width: 585px;
  width: 100%;
  max-width: 50%;
  margin-left: 73px;
  /* border-radius: 50%; */
}
.gifbox > p {
  margin: 0;
  max-width: 50%;
  font-weight: 100;
  line-height: 22px;
}
.title {
  margin-top: 100px;
}
.extras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 100px;
}
.extras img {
  width: 100%;
}
ol > li {
  margin-right: 0;
  margin-bottom: 18px;
}
ol > li:last-child {
  margin-bottom: 0;
}
.price {
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ff3737;
  font-family: "Stamp";
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 100;
}

@media (max-width: 911px) {
  h1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .gifbox {
    flex-direction: column-reverse;
  }
  .gifbox > video {
    max-width: 100%;
    margin-left: 0;
  }
  .gifbox > p {
    max-width: 100%;
    margin-top: 70px;
    text-align: center;
  }
  .title,
  .extras {
    margin-top: 70px;
  }
  .extras {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .price {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .title,
  .extras {
    margin-top: 40px;
  }
  .extras {
    grid-template-columns: 1fr;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 48px;
  }
  .gifbox > p {
    margin-top: 50px;
    font-size: 15px;
  }
  .price {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
