h1 {
  margin-top: 200px;
  margin-bottom: 100px;
  font-size: 3rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Shtozer";
}
.gifbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.gifbox > img {
  max-width: 585px;
  width: 100%;
  max-width: 50%;
  margin-left: 73px;
  /* border-radius: 50%; */
}
.gifbox > p {
  margin: 0;
  max-width: 50%;
}

@media (max-width: 911px) {
  h1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .gifbox {
    flex-direction: column-reverse;
  }
  .gifbox > img {
    max-width: 100%;
    margin-left: 0;
  }
  .gifbox > p {
    max-width: 90%;
    margin-top: 70px;
  }
}

@media (max-width: 576px) {
  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 48px;
  }
  .gifbox > p {
    margin-top: 50px;
    font-size: 15px;
  }
}
