.roadmapBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 138px;
  grid-row-gap: 72px;
}
.roadmapBoxItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roadmapBoxItem > img {
  width: 100%;
}
.roadmapBoxItem > p {
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}
h2 {
  font-family: "Shtozer";
}

@media (max-width: 911px) {
  .roadmapBox {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}
@media (max-width: 768px) {
  .roadmapBox {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .roadmapBox {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .roadmapBoxItem > p {
    font-size: 15px;
  }
}
