.team {
  position: relative;
  /* height: 1697px;
  padding-top: 461px; */
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  margin-top: 100px;
  grid-column-gap: 30px;
}
.secondGrid {
  margin-top: 50px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.flex > div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 497px;
  width: 100%;
  border-radius: 13px;
  color: #000000;
  min-height: 194px;
}
.grid > li {
  margin: 0;
  /* margin-right: 30px; */
}
.grid > li p {
  text-align: center;
  margin: 0;
  color: #fff;
}
.grid > li:last-child {
  margin-right: 0;
}
.grid > li > img {
  max-width: 216px;
  border-radius: 50%;
}

.teamPreview {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.item {
  background: #693301;
  border-radius: 13px;
  margin: 73px 0 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 38px;
  color: #fff;
  font-family: "Stamp";
  font-size: 24px;
  line-height: 25px;
}
.insta {
  margin: 14px 0 25px !important;
}
.socialBlock {
  margin-top: 14px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.team video {
  width: 100%;
}
.teamtitle {
  margin-bottom: 0;
}
.twitter path {
  fill: #1da1f2;
}
.contract {
  text-align: center;
  margin-top: 100px;
  color: #ffa800;
}
.team > picture {
  margin-top: 100px;
  display: block;
}
.team > picture img {
  width: 100%;
}

@media (max-width: 1199px) {
  .teamPreview {
    display: none;
  }
  .grid > li p {
    color: #fff;
  }
  .team {
    padding-top: 0;
    height: auto;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media (max-width: 911px) {
  .grid {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .team > picture {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .teamPreview {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .secondGrid > li:last-child {
    margin-top: 0;
  }
  .grid > li p {
    color: #fff;
  }
  .team {
    padding-top: 0;
    height: auto;
  }
  .contract {
    font-size: 13px;
    margin-top: 50px;
  }
  .contract a {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .grid > li > img {
    max-width: 375px;
  }
  .grid > li {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .grid > li:last-child {
    margin-top: 0;
  }
  .secondGrid {
    margin-top: 0;
  }
  .contract {
    margin-top: 30px;
  }
  .team > picture {
    margin-top: 30px;
  }
}
