.chain {
  margin-top: 150px;
  margin-bottom: 150px;
  object-fit: fill;
  width: 100%;
}

@media (max-width: 911px) {
  .chain {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media (max-width: 576px) {
  .chain {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
