.chain {
  margin-top: 0px;
  margin-bottom: 50px;
  object-fit: fill;
  width: 100%;
}

@media (max-width: 911px) {
  .chain {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .chain {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}
